body {
	font-family: 'Lato', sans-serif;
	background-color: #000000;
}

.header {
	 padding: 2%;
}

.header-image {
	padding-left: 0px;
	padding-right: 0px;
}

.header-image img {
	width: 100%;
	height: 50px;
}

.header-separation {
	background-color: #48cfcb;
	min-height: 100%;
	height: 50px;
}

h1 {
	font-family: 'Courgette';
	font-size: 350%;
	color: #48cfcb;
}

h2 {
	color: #48cfcb;
	margin-top: 3%;
	font-weight: 500;
}

h3 {
	color: #48cfcb;
	margin-top: 1%;
	margin-bottom: 1%;
}

h4 {
	color: #fff;
	font-size: 140%;
	line-height: 150%;
	margin-left: 5%;
	margin-right: 5%;
}

h5 {
	color: #fff;
	margin-top: 1%;
	margin-bottom: 1%;
}

.nav-pills > li > a{
  	border-bottom-style: solid;
  	border-bottom-color: #000;
  	color: #fff !important;

}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus{
	border-bottom-style: solid;
  	border-bottom-color: #fff;
  	color: #fff !important;
  	background-color: transparent !important;
}

.nav-pills > li > a:hover{
    background-color: #404040;
    color:#fff;
}

.nav-pills > li.dropdown.open > a{
    background-color: #404040;
    color:#fff;
}

table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	text-align: left;
	color: #fff;
}

.link {
	color: #48cfcb;
	margin-top: 1%;
	margin-bottom: 1%;
	font-weight: 500;
}

.home {
	text-align: center;
	margin-top: 2%;
}

.section {
	margin-top: 4%;
	margin-bottom: 3%;
}

